workflow.json
{
  "name": "Weekly AI Automation Part-Time Job Report",
  "nodes": [
    {
      "id": "node-schedule",
      "name": "Schedule (Mon & Thu 08:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        320
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDay": [
                1,
                4
              ],
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "node-config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        320
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "searchTerm",
              "value": "automation",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "maxAgeDays",
              "value": 30,
              "type": "number"
            },
            {
              "id": "a3",
              "name": "allowedTypes",
              "value": "part_time,contract,freelance",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "requireKeyword",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "a5",
              "name": "recipient",
              "value": "you@example.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-remotive",
      "name": "Remotive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        200
      ],
      "parameters": {
        "url": "https://remotive.com/api/remote-jobs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "search",
              "value": "={{ $json.searchTerm }}"
            },
            {
              "name": "limit",
              "value": "50"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "node-jobicy",
      "name": "Jobicy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        440
      ],
      "parameters": {
        "url": "https://jobicy.com/api/v2/remote-jobs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "count",
              "value": "50"
            },
            {
              "name": "tag",
              "value": "={{ $json.searchTerm }}"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "node-jsearch",
      "name": "JSearch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        620
      ],
      "parameters": {
        "method": "GET",
        "url": "https://jsearch.p.rapidapi.com/search-v2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-RapidAPI-Host",
              "value": "jsearch.p.rapidapi.com"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.searchTerm }}"
            },
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "num_pages",
              "value": "2"
            },
            {
              "name": "employment_types",
              "value": "PARTTIME,CONTRACTOR"
            },
            {
              "name": "remote_jobs_only",
              "value": "true"
            },
            {
              "name": "date_posted",
              "value": "month"
            }
          ]
        },
        "options": {
          "timeout": 20000
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "node-merge",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        460
      ],
      "parameters": {
        "mode": "append",
        "numberInputs": 3
      }
    },
    {
      "id": "node-compile",
      "name": "Compile Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        320
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "/**\n * normalize-jobs.js — body of the n8n Code node \"Compile Jobs\".\n * Mode: \"Run Once for All Items\".\n *\n * n8n Code nodes cannot require() local files, so the pure transform below is\n * INLINED from src/normalize-core.js — keep the two in sync. The only n8n-specific\n * parts are the input readers (readApiArray / readConfig) and the return shape at\n * the bottom.\n *\n * Reads the upstream nodes: \"Config\" (Set), \"Remotive\" (HTTP), \"Jobicy\" (HTTP),\n * \"JSearch\" (HTTP). Returns one n8n item per matched job (now carrying a cleaned\n * `description`, an empty `summary` for the LLM node to fill, and a `trust_score`),\n * or a single { empty: true } item when nothing matched (so the \"no results\" email\n * branch still fires — a node that outputs zero items would stop the workflow).\n */\n\n// ===== BEGIN inlined core (mirror of src/normalize-core.js) =================\nconst DEFAULT_CONFIG = {\n  allowedTypes: ['part_time', 'contract', 'freelance'],\n  maxAgeDays: 30,\n  requireKeyword: true,\n  keywords: [\n    'automation', 'automate', 'rpa', 'zapier', 'n8n', 'make.com', 'workflow',\n    'integration', 'no-code', 'low-code', 'ai agent', 'artificial intelligence',\n    'machine learning', 'data annotation', 'data label',\n    'process automation', 'workflow automation', 'ai automation', 'agentic',\n    'chatbot', 'power automate', 'uipath',\n  ],\n  excludeTitleKeywords: [\n    'sales', 'account executive', 'account manager', 'business development',\n    'recruit', 'copywriter', 'content writer', 'sdr', 'bdr',\n  ],\n  // HARD block: clerical roles that sometimes carry \"automation\" in the title but are never\n  // AI-automation roles. Dropped even when the title mentions a keyword.\n  blockTitleKeywords: [\n    'secretary', 'receptionist', 'data entry', 'administrative assistant', 'office administrator',\n    'virtual assistant', 'appointment setter', 'telemarketer', 'call center', 'cold caller',\n    'customer service representative',\n  ],\n};\n\nconst REPUTABLE_BOARDS = [\n  'linkedin', 'indeed', 'glassdoor', 'ziprecruiter', 'wellfound', 'we work remotely',\n  'remotive', 'jobicy', 'dice', 'builtin', 'stack overflow', 'weworkremotely', 'greenhouse',\n  'lever', 'workday',\n];\n\nfunction normJobType(raw) {\n  if (!raw) return '';\n  return String(raw).toLowerCase().trim().replace(/[\\s-]+/g, '_');\n}\n\nfunction toDate(value) {\n  if (value === null || value === undefined || value === '') return null;\n  if (typeof value === 'number' || /^\\d+$/.test(String(value))) {\n    const secs = Number(value);\n    const ms = secs > 1e12 ? secs : secs * 1000;\n    const d = new Date(ms);\n    return isNaN(d.getTime()) ? null : d;\n  }\n  const d = new Date(value);\n  return isNaN(d.getTime()) ? null : d;\n}\n\nfunction stripHtml(s) {\n  return String(s || '')\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&#39;|&rsquo;|&apos;/g, \"'\")\n    .replace(/&quot;|&ldquo;|&rdquo;/g, '\"')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction clip(s, n) {\n  const str = String(s || '');\n  if (str.length <= n) return str;\n  return str.slice(0, n - 1).replace(/\\s+\\S*$/, '') + '…';\n}\n\nfunction normCompany(c) {\n  return String(c || '')\n    .toLowerCase()\n    .replace(/[.,]/g, '')\n    .replace(/\\b(inc|llc|ltd|gmbh|co|corp|limited|company)\\b/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction firstAllowedType(types, allowed) {\n  for (const t of types) {\n    if (allowed.includes(normJobType(t))) return normJobType(t);\n  }\n  return '';\n}\n\nfunction fromRemotive(jobs) {\n  return (jobs || []).map((j) => {\n    const tags = Array.isArray(j.tags) ? j.tags.join(', ') : '';\n    return {\n      source: 'Remotive',\n      title: j.title || '',\n      company: j.company_name || '',\n      _types: [j.job_type],\n      location: j.candidate_required_location || 'Remote',\n      salary: j.salary || '',\n      url: j.url || '',\n      _date: toDate(j.publication_date),\n      tags,\n      _desc: stripHtml(j.description),\n      _website: '',\n      _logo: j.company_logo || '',\n      _direct: false,\n      _hay: `${j.title || ''} ${tags} ${j.category || ''} ${j.description || ''}`,\n    };\n  });\n}\n\nfunction fromJobicy(jobs) {\n  return (jobs || []).map((j) => {\n    let salary = '';\n    if (j.salaryMin || j.salaryMax) {\n      const cur = j.salaryCurrency || '';\n      salary = `${cur} ${j.salaryMin || '?'}–${j.salaryMax || '?'}`.trim();\n    }\n    const tags = Array.isArray(j.jobIndustry) ? j.jobIndustry.join(', ') : '';\n    return {\n      source: 'Jobicy',\n      title: j.jobTitle || '',\n      company: j.companyName || '',\n      _types: Array.isArray(j.jobType) ? j.jobType : [j.jobType],\n      location: j.jobGeo || 'Remote',\n      salary,\n      url: j.url || '',\n      _date: toDate(j.pubDate),\n      tags,\n      _desc: stripHtml(j.jobDescription || j.jobExcerpt),\n      _website: '',\n      _logo: j.companyLogo || '',\n      _direct: false,\n      _hay: `${j.jobTitle || ''} ${tags} ${j.jobExcerpt || ''} ${j.jobDescription || ''}`,\n    };\n  });\n}\n\nconst JSEARCH_TYPE = { FULLTIME: 'full_time', PARTTIME: 'part_time', CONTRACTOR: 'contract', INTERN: 'intern' };\n\nfunction fromJSearch(jobs) {\n  return (jobs || []).map((j) => {\n    let salary = '';\n    if (j.job_min_salary || j.job_max_salary) {\n      const cur = j.job_salary_currency || '';\n      const per = j.job_salary_period ? '/' + String(j.job_salary_period).toLowerCase() : '';\n      salary = `${cur} ${j.job_min_salary || '?'}–${j.job_max_salary || '?'}${per}`.trim();\n    }\n    const loc = j.job_is_remote ? 'Remote'\n      : [j.job_city, j.job_country].filter(Boolean).join(', ') || 'Remote';\n    return {\n      source: j.job_publisher || 'JSearch',\n      title: j.job_title || '',\n      company: j.employer_name || '',\n      _types: (Array.isArray(j.job_employment_types) && j.job_employment_types.length\n        ? j.job_employment_types\n        : [j.job_employment_type]).map((t) => JSEARCH_TYPE[t] || t),\n      location: loc,\n      salary,\n      url: j.job_apply_link || '',\n      _date: toDate(j.job_posted_at_datetime_utc),\n      tags: j.job_publisher || '',\n      _desc: stripHtml(j.job_description),\n      _website: j.employer_website || '',\n      _logo: j.employer_logo || '',\n      _direct: j.job_apply_is_direct === true,\n      _hay: `${j.job_title || ''} ${j.job_publisher || ''} ${j.job_description || ''}`,\n    };\n  });\n}\n\nfunction matchesKeyword(row, keywords) {\n  const hay = String(row._hay || `${row.title} ${row.tags}`).toLowerCase();\n  return keywords.some((k) => hay.includes(k.toLowerCase()));\n}\n\nfunction computeTrust(row, sourceCount) {\n  let score = 40;\n  const reasons = [];\n  if (row.salary && String(row.salary).trim()) { score += 20; reasons.push('salary disclosed'); }\n  if (sourceCount >= 2) { score += 15; reasons.push(`cross-posted on ${sourceCount} boards`); }\n  const days = row._date ? Math.floor((Date.now() - row._date.getTime()) / 86400000) : null;\n  if (days !== null) {\n    if (days <= 7) { score += 12; reasons.push('posted this week'); }\n    else if (days <= 14) { score += 8; reasons.push('posted recently'); }\n    else if (days <= 30) { score += 4; }\n  }\n  if (row._website) { score += 8; reasons.push('verified company website'); }\n  if (row._logo) { score += 3; }\n  if (row._direct) { score += 7; reasons.push('direct application'); }\n  if (REPUTABLE_BOARDS.some((p) => String(row.source).toLowerCase().includes(p))) {\n    score += 8; reasons.push('reputable job board');\n  }\n  score = Math.max(0, Math.min(100, score));\n  const band = score >= 80 ? 'High' : score >= 60 ? 'Good' : 'Basic';\n  return { score, band, reasons };\n}\n\nfunction buildRows(mappedBySource, config) {\n  const cfg = Object.assign({}, DEFAULT_CONFIG, config || {});\n  const cutoff = cfg.maxAgeDays\n    ? Date.now() - cfg.maxAgeDays * 24 * 60 * 60 * 1000\n    : null;\n  const all = [].concat.apply([], Object.keys(mappedBySource).map((k) => mappedBySource[k]));\n\n  const companySources = new Map();\n  for (const row of all) {\n    const key = normCompany(row.company);\n    if (!key) continue;\n    if (!companySources.has(key)) companySources.set(key, new Set());\n    companySources.get(key).add(String(row.source).toLowerCase());\n  }\n\n  const seenUrl = new Set();\n  const seenTitle = new Set();\n  const out = [];\n  for (const row of all) {\n    const jobType = firstAllowedType(row._types || [], cfg.allowedTypes);\n    if (!jobType) continue;\n    if (cfg.requireKeyword && !matchesKeyword(row, cfg.keywords)) continue;\n    const titleLc = (row.title || '').toLowerCase();\n    if ((cfg.blockTitleKeywords || []).some((k) => titleLc.includes(k))) continue;\n    const titleExcluded = (cfg.excludeTitleKeywords || []).some((k) => titleLc.includes(k));\n    const titleOnTopic = cfg.keywords.some((k) => titleLc.includes(k.toLowerCase()));\n    if (titleExcluded && !titleOnTopic) continue;\n    if (cutoff && row._date && row._date.getTime() < cutoff) continue;\n    // dedupe by URL OR normalized title (JSearch cross-posts one role to several boards with\n    // different URLs and different employer strings, so collapse on title).\n    const urlKey = (row.url || '').toLowerCase().trim();\n    const titleKey = (row.title || '').toLowerCase().replace(/\\s+/g, ' ').trim();\n    if ((urlKey && seenUrl.has(urlKey)) || (titleKey && seenTitle.has(titleKey))) continue;\n    if (urlKey) seenUrl.add(urlKey);\n    if (titleKey) seenTitle.add(titleKey);\n\n    const sourceCount = (companySources.get(normCompany(row.company)) || new Set()).size || 1;\n    const trust = computeTrust(row, sourceCount);\n\n    out.push({\n      source: row.source,\n      title: row.title,\n      company: row.company,\n      job_type: jobType,\n      location: row.location,\n      salary: row.salary,\n      posted_date: row._date ? row._date.toISOString().slice(0, 10) : '',\n      url: row.url,\n      tags: row.tags,\n      description: clip(row._desc || '', 400),\n      summary: '',\n      company_website: row._website || '',\n      company_logo: row._logo || '',\n      trust_score: trust.score,\n      trust_band: trust.band,\n      trust_reasons: trust.reasons.join('; '),\n      _ts: row._date ? row._date.getTime() : 0,\n    });\n  }\n  out.sort((a, b) => b._ts - a._ts);\n  return out.map((r) => { const c = Object.assign({}, r); delete c._ts; return c; });\n}\n// ===== END inlined core ====================================================\n\n// ----- n8n glue ------------------------------------------------------------\n\n/** Pull the array at `key` from an HTTP node's JSON body; [] if node failed/missing. */\nfunction readApiArray(nodeName, key) {\n  try {\n    const items = $(nodeName).all();\n    if (!items.length) return [];\n    const body = items[0].json || {};\n    return Array.isArray(body[key]) ? body[key] : [];\n  } catch (e) {\n    return [];\n  }\n}\n\n/**\n * JSearch's jobs array. /search-v2 nests them at `data.jobs` (data is an object);\n * the legacy /search returned `data` as the array directly. Handle both. [] on failure.\n */\nfunction readJSearchJobs() {\n  try {\n    const items = $('JSearch').all();\n    if (!items.length) return [];\n    const body = items[0].json || {};\n    const d = body.data;\n    if (Array.isArray(d)) return d;                 // legacy /search\n    if (d && Array.isArray(d.jobs)) return d.jobs;  // /search-v2\n    return [];\n  } catch (e) {\n    return [];\n  }\n}\n\n/** Read overrides from the \"Config\" Set node; falls back to code defaults. */\nfunction readConfig() {\n  let raw = {};\n  try { raw = $('Config').first().json || {}; } catch (e) { raw = {}; }\n  const cfg = {};\n  if (raw.maxAgeDays !== undefined && raw.maxAgeDays !== '') cfg.maxAgeDays = Number(raw.maxAgeDays);\n  if (raw.allowedTypes) cfg.allowedTypes = String(raw.allowedTypes).split(',').map((s) => s.trim()).filter(Boolean);\n  if (raw.requireKeyword !== undefined) cfg.requireKeyword = raw.requireKeyword === true || raw.requireKeyword === 'true';\n  return cfg;\n}\n\nconst remotiveJobs = readApiArray('Remotive', 'jobs');\nconst jobicyJobs = readApiArray('Jobicy', 'jobs');\nconst jsearchJobs = readJSearchJobs(); // [] when the node/credential is absent\n\nconst rows = buildRows(\n  {\n    remotive: fromRemotive(remotiveJobs),\n    jobicy: fromJobicy(jobicyJobs),\n    jsearch: fromJSearch(jsearchJobs),\n  },\n  readConfig(),\n);\n\nif (rows.length === 0) {\n  return [{ json: { empty: true, count: 0 } }];\n}\nreturn rows.map((r) => ({ json: r }));\n"
      }
    },
    {
      "id": "node-if",
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        320
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.empty }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-email-empty",
      "name": "Email No Results",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1140,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Config').first().json.recipient }}",
        "subject": "=Weekly AI Automation Part-Time Jobs — {{ $now.toFormat('yyyy-LL-dd') }} (no matches)",
        "emailType": "html",
        "message": "=<h2>Weekly AI Automation — Part-Time Jobs</h2><p>No part-time / contract / freelance automation roles matched this week on Remotive, Jobicy or JSearch. I'll check again next Monday.</p>",
        "options": {}
      }
    },
    {
      "id": "node-prep",
      "name": "Prep Summaries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        440
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "/**\n * prep-summaries.js — body of the n8n Code node \"Prep Summaries\".\n * Mode: \"Run Once for All Items\".\n *\n * Collapses the N job items from \"Compile Jobs\" into ONE item so the Gemini HTTP\n * node fires a SINGLE batched call (cost stays flat regardless of job count). The\n * output item carries:\n *   - jobs:       the full job rows, untouched, for \"Apply Summaries\" to re-expand.\n *   - geminiBody: the exact JSON request body for Gemini's generateContent endpoint,\n *                 asking for a one-sentence summary per role as a strict JSON array.\n */\n\nconst items = $input.all().map((i) => i.json);\n\n// Compact payload for the model — index + the minimum it needs to summarize.\nconst jobsForLlm = items.map((j, idx) => ({\n  i: idx,\n  title: j.title || '',\n  company: j.company || '',\n  job_type: j.job_type || '',\n  location: j.location || '',\n  desc: String(j.description || '').slice(0, 500),\n}));\n\nconst instruction =\n  'You are a job-market analyst. For EACH job object below, write ONE concise, ' +\n  'factual sentence (max 22 words) that says what the role involves and, if clear, ' +\n  'what the employer does. No hype, no \"exciting opportunity\". ' +\n  'Return ONLY a JSON array like [{\"i\":0,\"summary\":\"...\"}] — one object per job, ' +\n  'matching the \"i\" index. No markdown, no code fences.\\n\\nJobs:\\n' +\n  JSON.stringify(jobsForLlm);\n\nconst geminiBody = {\n  contents: [{ parts: [{ text: instruction }] }],\n  generationConfig: {\n    temperature: 0.2,\n    maxOutputTokens: 2048,\n    responseMimeType: 'application/json',\n  },\n};\n\nreturn [{ json: { jobs: items, count: items.length, geminiBody } }];\n"
      }
    },
    {
      "id": "node-gemini",
      "name": "Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        440
      ],
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.geminiBody) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "id": "node-apply",
      "name": "Apply Summaries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        440
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "/**\n * apply-summaries.js — body of the n8n Code node \"Apply Summaries\".\n * Mode: \"Run Once for All Items\".\n *\n * Re-expands the single batched item back to one item per job, attaching the\n * one-line `summary` from Gemini. If Gemini failed, errored, or returned\n * unparseable output, each job falls back to the first sentence of its own\n * description — so the report NEVER breaks on an LLM hiccup.\n *\n * Reads \"Prep Summaries\" (the retained job rows) and \"Gemini\" (the raw response).\n */\n\nconst jobs = (() => {\n  try { return $('Prep Summaries').first().json.jobs || []; } catch (e) { return []; }\n})();\n\n// Parse Gemini's JSON array of { i, summary } into an index -> summary map. Any\n// failure (node errored, empty body, non-JSON, wrapped in ```json fences) => {}.\nfunction parseSummaries() {\n  const map = {};\n  try {\n    const resp = $('Gemini').first().json || {};\n    let text =\n      (resp.candidates &&\n        resp.candidates[0] &&\n        resp.candidates[0].content &&\n        resp.candidates[0].content.parts &&\n        resp.candidates[0].content.parts[0] &&\n        resp.candidates[0].content.parts[0].text) || '';\n    text = String(text).replace(/^```(?:json)?/i, '').replace(/```$/, '').trim();\n    const arr = JSON.parse(text);\n    if (Array.isArray(arr)) {\n      for (const o of arr) {\n        if (o && typeof o.i === 'number') map[o.i] = String(o.summary || '').trim();\n      }\n    }\n  } catch (e) {\n    // leave map empty -> everything falls back to the description snippet\n  }\n  return map;\n}\n\n/** First sentence of the description, else a trimmed slice, as the no-LLM fallback. */\nfunction firstSentence(desc) {\n  const d = String(desc || '').trim();\n  if (!d) return '';\n  const m = d.match(/^.*?[.!?](\\s|$)/);\n  return (m ? m[0] : d).trim().slice(0, 200);\n}\n\nconst summaries = parseSummaries();\n\nreturn jobs.map((j, idx) => {\n  const s = summaries[idx];\n  const summary = (s && s.length ? s : firstSentence(j.description)).slice(0, 200);\n  return { json: Object.assign({}, j, { summary }) };\n});\n"
      }
    },
    {
      "id": "node-report",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        440
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "/**\n * build-report.js — body of the n8n Code node \"Build Report\".\n * Mode: \"Run Once for All Items\".\n *\n * Turns the summarized+scored job rows (from \"Apply Summaries\") into the whole\n * deliverable, in ONE place so all presentation logic is testable together:\n *   - json.chart_url : a QuickChart image URL (top companies by Trust score).\n *   - json.html      : the full HTML email body (chart + per-role cards).\n *   - json.subject   : the email subject line.\n *   - json.count     : role count (for the Data Table / logging).\n *   - binary.data    : a styled, Excel-compatible .xls (opens in Excel/Sheets with\n *                      colored headers, a colored Trust column, and clickable links).\n *\n * The .xls is an HTML table saved with an .xls extension — the only way to ship a\n * *styled* spreadsheet from n8n Cloud, which blocks external Code-node libraries\n * (exceljs) and whose \"Convert to File\" node can't format cells. Excel/Google Sheets\n * open it with the formatting intact.\n */\n\n// ---------- pure helpers (kept side-effect free for offline testing) ----------\n\nfunction esc(s) {\n  return String(s == null ? '' : s)\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;');\n}\n\nconst BAND_COLOR = { High: '#16a34a', Good: '#d97706', Basic: '#6b7280' };\nconst BAND_BG = { High: '#dcfce7', Good: '#fef3c7', Basic: '#f3f4f6' };\n\n/** QuickChart horizontal bar of the top companies by (max) Trust score. */\nfunction buildChartUrl(jobs) {\n  const byCompany = {};\n  for (const j of jobs) {\n    const c = j.company || 'Unknown';\n    const band = j.trust_band || 'Basic';\n    if (!byCompany[c] || j.trust_score > byCompany[c].score) {\n      byCompany[c] = { score: j.trust_score || 0, band };\n    }\n  }\n  const top = Object.keys(byCompany)\n    .map((c) => ({ company: c, score: byCompany[c].score, band: byCompany[c].band }))\n    .sort((a, b) => b.score - a.score)\n    .slice(0, 8);\n\n  const config = {\n    type: 'horizontalBar',\n    data: {\n      labels: top.map((t) => (t.company.length > 26 ? t.company.slice(0, 25) + '…' : t.company)),\n      datasets: [{\n        label: 'Trust score',\n        data: top.map((t) => t.score),\n        backgroundColor: top.map((t) => BAND_COLOR[t.band] || BAND_COLOR.Basic),\n        borderWidth: 0,\n      }],\n    },\n    options: {\n      legend: { display: false },\n      title: { display: true, text: 'Company Trust Score (0–100)', fontSize: 16 },\n      scales: { xAxes: [{ ticks: { beginAtZero: true, max: 100, stepSize: 20 } }] },\n    },\n  };\n  return 'https://quickchart.io/chart?w=600&h=320&bkg=white&c=' +\n    encodeURIComponent(JSON.stringify(config));\n}\n\n// Palette for the initial-avatar background, picked deterministically from the name.\nconst AVATAR_BG = ['#4f46e5', '#0891b2', '#059669', '#d97706', '#dc2626', '#7c3aed', '#db2777'];\n\n/** A small round avatar with the company's initial. We deliberately DON'T hotlink the\n *  employer logo — several boards (e.g. Remotive) 403 hotlinked logos, which renders as\n *  a broken image in the email. A colored initial is always reliable. */\nfunction avatar(job) {\n  const name = (job.company || '?').trim();\n  const initial = esc(name.charAt(0).toUpperCase() || '?');\n  let h = 0;\n  for (let i = 0; i < name.length; i++) h = (h * 31 + name.charCodeAt(i)) >>> 0;\n  const bg = AVATAR_BG[h % AVATAR_BG.length];\n  return '<div style=\"width:40px;height:40px;border-radius:8px;background:' + bg + ';color:#fff;' +\n    'font:600 18px sans-serif;text-align:center;line-height:40px\">' + initial + '</div>';\n}\n\nfunction trustBadge(job) {\n  const band = job.trust_band || 'Basic';\n  return '<span style=\"display:inline-block;padding:2px 10px;border-radius:999px;font:600 12px sans-serif;' +\n    'color:' + (BAND_COLOR[band] || BAND_COLOR.Basic) + ';background:' + (BAND_BG[band] || BAND_BG.Basic) +\n    '\">Trust ' + esc(job.trust_score) + ' · ' + esc(band) + '</span>';\n}\n\nfunction jobCard(job) {\n  const meta = [job.job_type, job.location, job.posted_date, job.salary]\n    .filter(Boolean).map(esc).join(' &nbsp;·&nbsp; ');\n  return '' +\n    '<tr><td style=\"padding:16px 0;border-bottom:1px solid #eee\">' +\n    '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>' +\n    '<td width=\"52\" valign=\"top\">' + avatar(job) + '</td>' +\n    '<td valign=\"top\">' +\n    '<div style=\"font:600 16px sans-serif;color:#111\">' +\n    '<a href=\"' + esc(job.url) + '\" style=\"color:#4f46e5;text-decoration:none\">' + esc(job.title) + '</a></div>' +\n    '<div style=\"font:400 14px sans-serif;color:#374151;margin:2px 0 6px\">' + esc(job.company) +\n    ' &nbsp; ' + trustBadge(job) + '</div>' +\n    '<div style=\"font:400 13px sans-serif;color:#6b7280;margin-bottom:6px\">' + meta + '</div>' +\n    '<div style=\"font:400 14px sans-serif;color:#111;line-height:1.45\">' + esc(job.summary || job.description) + '</div>' +\n    (job.trust_reasons ? '<div style=\"font:400 12px sans-serif;color:#9ca3af;margin-top:6px\">✓ ' +\n      esc(job.trust_reasons) + '</div>' : '') +\n    '<div style=\"margin-top:10px\"><a href=\"' + esc(job.url) + '\" ' +\n    'style=\"display:inline-block;padding:7px 14px;background:#4f46e5;color:#fff;border-radius:6px;' +\n    'font:600 13px sans-serif;text-decoration:none\">Apply →</a></div>' +\n    '</td></tr></table></td></tr>';\n}\n\nfunction buildEmailHtml(jobs, reportDate, chartUrl) {\n  const count = jobs.length;\n  const avg = count ? Math.round(jobs.reduce((s, j) => s + (j.trust_score || 0), 0) / count) : 0;\n  const high = jobs.filter((j) => (j.trust_band || '') === 'High').length;\n  const CARD_LIMIT = 12;\n  const shown = jobs.slice(0, CARD_LIMIT);\n  const cards = shown.map(jobCard).join('');\n  const more = count > CARD_LIMIT\n    ? '<p style=\"font:400 14px sans-serif;color:#6b7280;text-align:center;margin:16px 0\">' +\n      '…and ' + (count - CARD_LIMIT) + ' more in the attached Excel file.</p>'\n    : '';\n\n  function stat(label, value) {\n    return '<td align=\"center\" style=\"padding:10px\">' +\n      '<div style=\"font:700 22px sans-serif;color:#111\">' + value + '</div>' +\n      '<div style=\"font:400 12px sans-serif;color:#6b7280\">' + label + '</div></td>';\n  }\n\n  return '' +\n    '<div style=\"background:#f3f4f6;padding:24px 0;font-family:sans-serif\">' +\n    '<div style=\"max-width:640px;margin:0 auto;background:#fff;border-radius:12px;overflow:hidden;' +\n    'box-shadow:0 1px 3px rgba(0,0,0,.08)\">' +\n\n    // header\n    '<div style=\"background:#4f46e5;padding:24px 28px\">' +\n    '<div style=\"font:700 20px sans-serif;color:#fff\">Weekly AI-Automation Jobs</div>' +\n    '<div style=\"font:400 14px sans-serif;color:#c7d2fe;margin-top:4px\">' +\n    'Part-time · contract · freelance &nbsp;|&nbsp; ' + esc(reportDate) + '</div></div>' +\n\n    // stat row\n    '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-bottom:1px solid #eee\">' +\n    '<tr>' + stat('roles', count) + stat('avg trust', avg + '/100') + stat('high trust', high) + '</tr></table>' +\n\n    // chart\n    '<div style=\"padding:20px 28px 4px;text-align:center\">' +\n    '<div style=\"font:600 14px sans-serif;color:#374151;margin-bottom:8px;text-align:left\">' +\n    'Which employers look most legitimate?</div>' +\n    '<img src=\"' + esc(chartUrl) + '\" width=\"600\" style=\"max-width:100%;border:1px solid #eee;border-radius:8px\" alt=\"Company Trust Score chart\">' +\n    '<div style=\"font:400 11px sans-serif;color:#9ca3af;margin:6px 0 0;text-align:left\">' +\n    'Trust score is a transparency signal (salary shown, cross-posting, verified site, recency, reputable board) — not an official employer rating.</div>' +\n    '</div>' +\n\n    // cards\n    '<div style=\"padding:8px 28px 20px\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">' +\n    cards + '</table>' + more + '</div>' +\n\n    // footer\n    '<div style=\"padding:16px 28px;background:#fafafa;border-top:1px solid #eee;' +\n    'font:400 12px sans-serif;color:#9ca3af\">Sources: Remotive, Jobicy, JSearch ' +\n    '(Indeed / LinkedIn / Glassdoor / ZipRecruiter via Google for Jobs). ' +\n    'Summaries by Google Gemini. Generated automatically by n8n.</div>' +\n\n    '</div></div>';\n}\n\n/** Styled Excel-compatible .xls (HTML table). Opens in Excel/Sheets with formatting. */\nfunction buildXlsHtml(jobs, reportDate) {\n  const count = jobs.length;\n  const avg = count ? Math.round(jobs.reduce((s, j) => s + (j.trust_score || 0), 0) / count) : 0;\n  const high = jobs.filter((j) => (j.trust_band || '') === 'High').length;\n  const good = jobs.filter((j) => (j.trust_band || '') === 'Good').length;\n  const basic = count - high - good;\n\n  const cols = [\n    { k: 'trust_score', h: 'Trust', w: 60 },\n    { k: 'trust_band', h: 'Band', w: 60 },\n    { k: 'title', h: 'Title', w: 260 },\n    { k: 'company', h: 'Company', w: 180 },\n    { k: 'job_type', h: 'Type', w: 90 },\n    { k: 'location', h: 'Location', w: 150 },\n    { k: 'salary', h: 'Salary', w: 130 },\n    { k: 'posted_date', h: 'Posted', w: 90 },\n    { k: 'summary', h: 'Summary', w: 360 },\n    { k: 'source', h: 'Source', w: 120 },\n  ];\n  const thStyle = 'background:#4f46e5;color:#fff;font:600 12px sans-serif;padding:8px;' +\n    'border:1px solid #4338ca;text-align:left';\n  const head = '<tr>' + cols.map((c) =>\n    '<th style=\"' + thStyle + ';width:' + c.w + 'px\">' + esc(c.h) + '</th>').join('') +\n    '<th style=\"' + thStyle + '\">Link</th></tr>';\n\n  const rows = jobs.map((j, idx) => {\n    const zebra = idx % 2 ? '#f8fafc' : '#ffffff';\n    const cells = cols.map((c) => {\n      let v = j[c.k];\n      let style = 'padding:6px 8px;border:1px solid #e5e7eb;font:400 12px sans-serif;' +\n        'background:' + zebra + ';vertical-align:top';\n      if (c.k === 'trust_band' || c.k === 'trust_score') {\n        style += ';font-weight:600;color:' + (BAND_COLOR[j.trust_band] || BAND_COLOR.Basic) +\n          ';background:' + (BAND_BG[j.trust_band] || BAND_BG.Basic) + ';text-align:center';\n      }\n      if (c.k === 'title') {\n        return '<td style=\"' + style + '\"><a href=\"' + esc(j.url) + '\">' + esc(v) + '</a></td>';\n      }\n      return '<td style=\"' + style + '\">' + esc(v) + '</td>';\n    }).join('');\n    const link = '<td style=\"padding:6px 8px;border:1px solid #e5e7eb;font:400 12px sans-serif;' +\n      'background:' + zebra + '\"><a href=\"' + esc(j.url) + '\">open</a></td>';\n    return '<tr>' + cells + link + '</tr>';\n  }).join('');\n\n  const span = cols.length + 1; // +1 for the Link column\n  const banner = '<tr><td colspan=\"' + span + '\" style=\"background:#312e81;color:#fff;' +\n    'font:700 18px sans-serif;padding:14px 10px;border:1px solid #312e81\">' +\n    'Weekly AI-Automation Jobs &nbsp;·&nbsp; Part-time / Contract / Freelance &nbsp;·&nbsp; ' + esc(reportDate) +\n    '</td></tr>';\n  const summary = '<tr><td colspan=\"' + span + '\" style=\"background:#eef2ff;color:#3730a3;' +\n    'font:600 13px sans-serif;padding:8px 10px;border:1px solid #c7d2fe\">' +\n    count + ' roles &nbsp;·&nbsp; avg trust ' + avg + '/100 &nbsp;·&nbsp; ' +\n    high + ' High · ' + good + ' Good · ' + basic + ' Basic &nbsp;·&nbsp; ' +\n    'Sources: Remotive, Jobicy, JSearch</td></tr>';\n  const legend = '<tr><td colspan=\"' + span + '\" style=\"background:#ffffff;color:#6b7280;' +\n    'font:400 11px sans-serif;padding:6px 10px;border:1px solid #e5e7eb\">' +\n    'Trust bands: High ≥ 80 &nbsp; Good 60–79 &nbsp; Basic &lt; 60 &nbsp; — a transparency signal ' +\n    '(salary shown, cross-posting, verified site, recency, reputable board), not an official rating.</td></tr>';\n  const spacer = '<tr><td colspan=\"' + span + '\" style=\"height:8px\"></td></tr>';\n\n  return '<html><head><meta charset=\"utf-8\"></head><body>' +\n    '<table border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"border-collapse:collapse\">' +\n    banner + summary + legend + spacer + head + rows + '</table></body></html>';\n}\n\n// ---------- n8n glue ----------\n\nconst jobs = $input.all().map((i) => i.json);\nconst reportDate = new Date().toISOString().slice(0, 10);\n\nconst chartUrl = buildChartUrl(jobs);\nconst html = buildEmailHtml(jobs, reportDate, chartUrl);\nconst subject = 'Weekly AI Automation Jobs — ' + reportDate + ' (' + jobs.length + ' roles)';\nconst xlsHtml = buildXlsHtml(jobs, reportDate);\n\n// Styled spreadsheet (binary property `data`).\nconst xlsBinary = await this.helpers.prepareBinaryData(\n  Buffer.from(xlsHtml, 'utf8'),\n  'ai-automation-jobs.xls',\n  'application/vnd.ms-excel',\n);\n\n// The Trust chart as its own PNG file (binary property `chart`), so it's a standalone\n// attachment in addition to being embedded in the email body. On any fetch failure we fall\n// back to a 1x1 PNG so the email's chart attachment can never error the send.\nlet chartBinary;\ntry {\n  const png = await this.helpers.httpRequest({ url: chartUrl, encoding: 'arraybuffer' });\n  chartBinary = await this.helpers.prepareBinaryData(Buffer.from(png), 'company-trust-chart.png', 'image/png');\n} catch (e) {\n  const px = Buffer.from(\n    'iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+M9QDwADhgGAWjR9awAAAABJRU5ErkJggg==',\n    'base64',\n  );\n  chartBinary = await this.helpers.prepareBinaryData(px, 'company-trust-chart.png', 'image/png');\n}\n\nreturn [{\n  json: { subject, html, chart_url: chartUrl, count: jobs.length, report_date: reportDate },\n  binary: { data: xlsBinary, chart: chartBinary },\n}];\n"
      }
    },
    {
      "id": "node-email-report",
      "name": "Email Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1920,
        440
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Config').first().json.recipient }}",
        "subject": "={{ $json.subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "data"
              },
              {
                "property": "chart"
              }
            ]
          }
        }
      }
    },
    {
      "id": "node-store-log",
      "name": "Store in Log",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1360,
        240
      ],
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "AI Automation Jobs Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "report_date": "={{ $now.toFormat('yyyy-LL-dd') }}",
            "source": "={{ $json.source }}",
            "title": "={{ $json.title }}",
            "company": "={{ $json.company }}",
            "job_type": "={{ $json.job_type }}",
            "location": "={{ $json.location }}",
            "salary": "={{ $json.salary }}",
            "posted_date": "={{ $json.posted_date }}",
            "url": "={{ $json.url }}",
            "tags": "={{ $json.tags }}"
          },
          "schema": [
            {
              "id": "report_date",
              "displayName": "report_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salary",
              "displayName": "salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_date",
              "displayName": "posted_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "matchingColumns": []
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule (Mon & Thu 08:00)": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Remotive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Jobicy",
            "type": "main",
            "index": 0
          },
          {
            "node": "JSearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remotive": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jobicy": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "JSearch": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "Compile Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Jobs": {
      "main": [
        [
          {
            "node": "Has Results?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results?": {
      "main": [
        [
          {
            "node": "Email No Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Summaries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store in Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Summaries": {
      "main": [
        [
          {
            "node": "Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "main": [
        [
          {
            "node": "Apply Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Summaries": {
      "main": [
        [
          {
            "node": "Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report": {
      "main": [
        [
          {
            "node": "Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
